In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.signal as sc

In [31]:
file = '/Users/francescostraniero/Documents/Pembroke_4th_year/MPhys_Proj/100peaks.csv'
df = pd.read_csv(file)
df.head(10)

      0     1     2      3      4
0  2000  5964  6612   6912  11999
1  2067  6031  6678   6981  12066
2  2000  6401  6405   7274  11999
3  2067  6470  7340  12066      0
4  2000  2238  3092   6098  11999
5  2065  2310  3158   6165  12065
6  2000  2323  3035   3271  11999
7  2066  2391  3099   3342  12066
8  2000  2061  2583   7654  11999
9  2104  2650  7720  12065      0

In [32]:
o =0

shape = df.shape
diffs = np.empty((0,shape[1]))
#df.replace(0,np.nan, inplace=True)
for i in np.arange(0,shape[0],2):
    if np.count_nonzero(df.iloc[i]) == np.count_nonzero(df.iloc[i+1]):
        o = o+1
        d = np.array(df.iloc[i+1]-df.iloc[i])
        d[d>=0]
    
        diffs = np.vstack((diffs,d))

print(o)

83

In [33]:

np.array(df.iloc[3]-df.iloc[2])

array([    67,     69,    935,   4792, -11999])

In [60]:
file2 = '/Users/francescostraniero/Documents/Pembroke_4th_year/MPhys_Proj/100events_15peaks2.csv'
df2 = pd.read_csv(file2)
df2copy =pd.read_csv(file2)
df2.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,2000.0,2031.0,2182.0,2256.0,2311.0,2433.0,2664.0,3153.0,3301.0,4423.0,5013.0,6234.0,6483.0,6939.0,11999.0
1,2077.0,2337.0,3208.0,3366.0,4490.0,5080.0,6299.0,6552.0,7005.0,12065.0,0.0,0.0,0.0,0.0,0.0
2,2000.0,2023.0,2030.0,2162.0,2164.0,2644.0,2776.0,2899.0,3089.0,3114.0,3259.0,3482.0,3910.0,4204.0,11999.0
3,2077.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2000.0,2214.0,2274.0,2994.0,3166.0,3280.0,3425.0,3737.0,3764.0,3782.0,3882.0,4430.0,6077.0,6484.0,11999.0
5,2061.0,2321.0,3050.0,3826.0,4497.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2000.0,2327.0,2614.0,2768.0,2917.0,3319.0,3760.0,3790.0,4623.0,4795.0,5537.0,6657.0,6814.0,8058.0,11999.0
7,2066.0,2395.0,3386.0,3844.0,4679.0,4865.0,5603.0,6711.0,6881.0,8125.0,12065.0,0.0,0.0,0.0,0.0
8,2000.0,2117.0,2138.0,2216.0,2528.0,2935.0,4354.0,4504.0,4879.0,4885.0,5304.0,6287.0,7304.0,7823.0,11999.0
9,2226.0,4409.0,4949.0,6353.0,7370.0,7890.0,12066.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
o2 =0

shape2 = df2.shape
repositioned_array2 = np.empty((0,shape2[1]))

#df.replace(0,np.nan, inplace=True)
for i in np.arange(0,shape2[0],2):
    for j in range(len(df2.iloc[i])):
        if df2.iat[i,j] +100< df2.iat[i+1,j] or df2.iat[i,j]+30 > df2.iat[i+1,j]:
            df2.iloc[i+1,j+1:]=df2.iloc[i+1,j:-1]
            df2.iloc[i+1,j]=0

In [62]:
np.count_nonzero(df2) - 15*100

742

In [64]:
742/1500

0.49466666666666664